@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #9DC7E8;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    background-color: rgb(151, 191, 231);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2569e8;
    border-radius: 5px;
}
